.content{
  margin-top: 1cm;
  width: 80cm;
}
.c1{

    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 60px;
    
  }
  
  .pro1{
    margin-bottom: 3px;
  }
  
  .a1{
    margin-top: 10px;
  }

.h005{
  margin-top: 10px;
}